# Delete this header
# 1 - Update Rigname (needs to match rigname used for external drive)
# 2 - place this file at /home/pi/rig.config
{
    "RIGNAME": "Change My Name",
    "SERVER_IP" : "https://10.140.180.26",
    "USER" : "Python",
    "PASSWORD" : "python",
    "DATABASE" : "MICE",
    "LAYOUT" : "Autoresuscitation",
    "Tank_Number" : "unk",
    "Facemask_ID" : "unk",
}
